@tailwind base;

@tailwind components;

@tailwind utilities;



.overlaycontainer:hover .overlay {
   display: inline-block;
   z-index: 1;
  
}
.homebtn{
   width: 180px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(96, 117, 251);
  transition-duration: .3s;
}

.homebtn .active{
 transform: translate(5px ,0px);
  box-shadow: 0px 1px 0px rgb(139, 113, 255);
  padding-bottom: 1px;
}
.blobsvg{
  
}
.slider{
-webkit-transition: .4s;
  transition: .4s;
}
.slider::before{
   content: "  ";
   -webkit-transition: .4s;
  transition: .4s;
}
.toggle:checked + .slider {
   background-color: brown;
}
.toggle:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
}
.toggle:checked + .slider::before {
   -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
